body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.hidden {
  display: none;
}

#container {
  background-color: #ff34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
}

.pane {
  border: 1px solid #ff00e4;
  flex-grow: 1;
}

.pane-container {
  display: flex;
  flex-grow: 1;
  div {
    border: 1px solid #ff00e4;
    flex-grow: 1;
  }
}

.menu-container {
  position: absolute;
  background-color: #64ff73;

  ul {
    padding: 5px 0px;
    margin: 0;

    li {
      &:hover {
        background-color: #eeeeee;
      }
      padding: 0;
      display: block;
    }
  }
}

.menu-item {
  display: inline-block;
}

.toolbar {
  border: 1px solid #ff00e4;
  height: 50px;
}
